1. What are data structures, and why are they important?

   -Data structures are special formats used to organize, manage, and store data efficiently. Common data structures in Python include lists, tuples, sets, and dictionaries. They are important because they help programmers write clean, optimized, and logical code. For example, a list is ideal for storing items in order, while a dictionary is perfect for storing key-value pairs. Choosing the right data structure can make your program faster and easier to understand.

2. Explain the difference between mutable and immutable data types with examples.

   -In Python, mutable data types can be changed after they are created, while immutable data types cannot be changed.

   Eg of mutable data types are list, dictionary, set.
   Eg of immutable data types are tuple, float, string.

3. What are the main differences between lists and tuples in Python?

  -Mutability:
  Lists are mutable, meaning their elements can be changed after creation.
  Tuples are immutable, meaning they cannot be modified once created.

  Syntax:
  Lists use square brackets: [1, 2, 3]
  Tuples use parentheses: (1, 2, 3)

  Performance:
  Tuples are generally faster than lists because they are immutable and use less memory.

  Use cases:
  Lists are used when data is likely to change (e.g., user input, dynamic data).
  Tuples are used when data should remain constant (e.g., coordinates, settings).

  Methods:
  Lists have more built-in methods (like append(), remove()),
  while tuples have fewer methods due to their immutability.

4. Describe how dictionaries store data.

   -Dictionaries in Python store data as key-value pairs inside curly braces {}. Each key is unique and is linked to a value. Keys must be immutable (like strings or numbers), while values can be of any type. Internally, Python uses a hash table to store keys, allowing fast access to values.

5. Why might you use a set instead of a list in Python?

   -A set is used when you want to store unique items only and don’t care about the order. Unlike lists, sets automatically remove duplicates.

6. What is a string in Python, and how is it different from a list?

   -A string in Python is a sequence of characters enclosed in quotes, like "hello". A list is a sequence that can contain items of any data type.
    Main differences:

    Strings are immutable, while lists are mutable.

    Strings can only store characters, but lists can store numbers, strings, and even other lists.

7. How do tuples ensure data integrity in Python?

   -Tuples are immutable, which means once they are created, their values cannot be changed. This makes them reliable for storing data that should stay constant. For example, coordinates, dates, or configuration settings are often stored in tuples. Their immutability prevents accidental changes, ensuring the original data remains intact throughout the program.   

8. What is a hash table, and how does it relate to dictionaries in Python?

   -A hash table is a data structure that maps keys to values using a hash function. In Python, dictionaries are built on hash tables. When you access a value using a key, Python quickly finds it using the key's hash value. This allows fast O(1) access time for lookups, insertions, and deletions in dictionaries.

9. Can lists contain different data types in Python?

   -Yes, lists in Python can store elements of different data types. This is one of the strengths of Python’s list data structure. This flexibility makes lists useful for various applications, such as storing structured data, collecting user input, or creating dynamic tables.

10. Explain why strings are immutable in Python.

   -Strings in Python are immutable, meaning they cannot be changed after they are created. This design helps in security, performance, and data integrity. Since strings are used frequently in programs (especially as keys in dictionaries), making them immutable ensures they behave consistently. If you want to modify a string, you must create a new one.

11. What advantages do dictionaries offer over lists for certain tasks?

   -Dictionaries are better than lists when you need to store and quickly access data using a unique key.

   In lists, data is accessed by index, which is slower for searching (O(n) time).

   In dictionaries, data is accessed by key, which is much faster (O(1) time on average).

   Dictionaries also make data more readable using meaningful keys instead of numeric positions.

12. Describe a scenario where using a tuple would be preferable over a list.

   -Tuples are preferable when you want to store fixed data that should not change.
   Example scenario:
   Storing coordinates of a point like (5, 10) in a program. Since coordinates shouldn’t be changed accidentally, a tuple is safer.

13. How do sets handle duplicate values in Python?

    -Sets automatically remove duplicate values.
    When you add items to a set, only unique elements are stored, and any duplicates are ignored. This feature makes sets ideal for filtering out duplicates and performing mathematical operations like union, intersection, etc.

14. How does the “in” keyword work differently for lists and dictionaries?

    -In lists, in checks if a value exists in the list.

    In dictionaries, in checks if a key exists, not the value.

15. Can you modify the elements of a tuple? Explain why or why not.

   -No, you cannot modify elements of a tuple because tuples are immutable in Python.
   Once a tuple is created, its elements cannot be changed, added, or removed.
   This helps maintain data integrity and allows tuples to be used as dictionary keys or set elements.


16. What is a nested dictionary, and give an example of its use case.

   -A nested dictionary is a dictionary where each value can also be another dictionary. It helps store hierarchical or structured data.

   Example:
   student = {
    "name": "Rahul",
    "marks": {"math": 90, "science": 85}
  }


17. Describe the time complexity of accessing elements in a dictionary.

   -Accessing elements in a dictionary using a key has an average-case time complexity of O(1).
   This is because dictionaries use a hash table internally.
   

18. In what situations are lists preferred over dictionaries?

   -Lists are preferred when:

   The order of elements matters (lists maintain insertion order).

   You need to store sequential or indexed data.

   The data does not need to be labeled with unique keys.

   You need to perform operations like sorting, slicing, or iterating in a specific sequence.


19. Why are dictionaries considered unordered, and how does that affect data retrieval?

   -Traditionally, dictionaries were unordered collections, meaning they didn’t maintain the insertion order of keys.
   As of Python 3.7+, dictionaries maintain insertion order, but conceptually, they are still treated as unordered mappings.


20. Explain the difference between a list and a dictionary in terms of data retrieval.

   -In a list, data is retrieved using index positions (e.g., my_list[0]).

   In a dictionary, data is retrieved using keys (e.g., my_dict["name"]).

   Key difference:

   Lists are good for ordered data.

   Dictionaries are better for key-value mappings where you need fast lookups by a specific identifier.

In [1]:
#PRACTICAL QUESTIONS
#1 Write a code to create a string with your name and print it

name = "Rahul"
print(name)

Rahul

In [2]:
#2 Write a code to find the length of the string "Hello World"P

string1 = 'hello world'
print(len(string))

11

In [3]:
#3 Write a code to slice the first 3 characters from the string "Python Programming

string2 = 'python programming'
print(string2[0:3])

pyt

In [4]:
#4 Write a code to convert the string "hello" to uppercase

string3 = 'hello'
print(string3.upper())

HELLO

In [5]:
#5Write a code to replace the word "apple" with "orange" in the string "I like apple"

string4 = 'I like apple'
print(string4.replace('apple', 'orange'))

I like orange

In [8]:
#6 Write a code to create a list with numbers 1 to 5 and print it

list1 = [1,2,3,4,5]
print(list1)

[1, 2, 3, 4, 5]

In [9]:
#7 Write a code to append the number 10 to the list [1, 2, 3, 4]

list2 = [1,2,3,4]
list2.append(10)
print(list2)

[1, 2, 3, 4, 10]

In [10]:
#8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
lis3= [1,2,3,4,5]
lis3.remove(3)
print(lis3)

[1, 2, 4, 5]

In [11]:
#9  Write a code to access the second element in the list ['a', 'b', 'c', 'd']

list4 = ['a','b','c','d']
print(list4[1])

b

In [13]:
#10 Write a code to reverse the list [10, 20, 30, 40, 50].

list5 = [10,20,30,40,50]
print(list5[::-1])

[50, 40, 30, 20, 10]

In [14]:
#11 Write a code to create a tuple with the elements 100, 200, 300 and print it.

tuple1 = (100,200,300)
print(tuple1)

(100, 200, 300)

In [15]:
#12  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

tuple2 = ('red', 'green', 'blue', 'yellow')
print(tuple2[-2])

blue

In [16]:
#13  Write a code to find the minimum number in the tuple (10, 20, 5, 15).

tuple3 = (10,20,5,15)
print(min(tuple3))

5

In [17]:
#14  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

tuple4 = ('dog', 'cat', 'rabbit')
print(tuple4.index('cat'))

1

In [18]:
#15  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

tuple5 = ('apple','banana','kiwi')
if 'kiwi' in tuple5:
  print('kiwi is present')
else:
  print('kiwi is not present')

kiwi is present

In [19]:
#16  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

set1 = {'a','b','c'}
print(set1)

{'b', 'a', 'c'}

In [20]:
#17  Write a code to clear all elements from the set {1, 2, 3, 4, 5}

set2 = {1,2,3,4,5}
set2.clear()
print(set2)

set()

In [21]:
#18  Write a code to remove the element 4 from the set {1, 2, 3, 4}.

set3 = {1,2,3,4}
set3.remove(4)
print(set3)

{1, 2, 3}

In [22]:
#19  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

set4 = {1,2,3}
set5 = {3,4,5}
print(set4.union(set5))

{1, 2, 3, 4, 5}

In [23]:
#20  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set6 = {1,2,3}
set7 = {2,3,4}
print(set6.intersection(set7))

{2, 3}

In [29]:
#21  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

dict1 = {'name':'rahul', 'age':20, 'city':'delhi'}
print(dict1)

{'name': 'rahul', 'age': 20, 'city': 'delhi'}

In [30]:
#22  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

dict2 = {'name': 'John', 'age': 25}
dict2['country'] = 'USA'
print(dict2)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [34]:
#23  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

dict3 = {'name': 'Alice', 'age': 30}
print(dict3['name'])

Alice

In [35]:
#24  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

dict4 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict4.pop('age')
print(dict4)

{'name': 'Bob', 'city': 'New York'}

In [36]:
#25  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

dict5 = {'name': 'Alice', 'city': 'Paris'}
if 'city' in dict5:
  print('city is present')
else:
  print('city is not present')

city is present

In [38]:
#26 . Write a code to create a list, a tuple, and a dictionary, and print them all.

list8 = [1,2,3,4]
tuple8 = (1,2,3,4)
dict8 = {'name':'rahul', 'age':20, 'city':'delhi'}
print(list8)
print(tuple8)
print(dict8)

[1, 2, 3, 4]
(1, 2, 3, 4)
{'name': 'rahul', 'age': 20, 'city': 'delhi'}

In [45]:
'''27  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result. replaced'''


import random
list9 = [random.randint(1,100) for i in range(5)]
list9.sort()
print(list9)

[30, 50, 62, 78, 92]

In [46]:
#28 Write a code to create a list with strings and print the element at the third index.

list10 = ['apple','banana','kiwi']
print(list10[2])

kiwi

In [48]:
#29  Write a code to combine two dictionaries into one and print the result.

dict9 = {'name':'rahul', 'age':20, 'city':'delhi'}
dict10 = {'height':'tall', 'gender':'male', 'country':'USA'}
dict9.update(dict10)
print(dict9)

{'name': 'rahul', 'age': 20, 'city': 'delhi', 'height': 'tall', 'gender': 'male', 'country': 'USA'}

In [49]:
#30 Write a code to convert a list of strings into a set.

strings10 = ('apple','banana','kiwi')
set11 = set(strings10)
print(set11)

{'banana', 'kiwi', 'apple'}